:root {
    --color-note: #0969da;
    --color-note-bg: rgba(9, 105, 218, 0.08);
    --color-tip: #1a7f37;
    --color-tip-bg: rgba(26, 127, 55, 0.08);
    --color-warning: #9a6700;
    --color-warning-bg: rgba(154, 103, 0, 0.080);
    --color-caution: #d1242f;
    --color-caution-bg: rgba(209, 36, 47, 0.08);
    --color-important: #8250df;
    --color-important-bg: rgba(130, 80, 223, 0.08);
    --color-abstract: #008FD1;
    --color-abstract-bg: rgba(0, 143, 209, 0.08);
    --color-info: #008DA3;
    --color-info-bg: rgba(0, 141, 163, 0.08);
    --color-todo: #2356AF;
    --color-todo-bg: rgba(35, 86, 175, 0.08);
    --color-success: #00A344;
    --color-success-bg: rgba(0, 163, 68, 0.08);
    --color-question: #55BD14;
    --color-question-bg: rgba(85, 189, 20, 0.08);
    --color-failure: #FF2E2E;
    --color-failure-bg: rgba(255, 0, 51, 0.08);
    --color-danger: #D1002A;
    --color-danger-bg: rgba(209, 0, 42, 0.08);
    --color-bug: #D10049;
    --color-bug-bg: rgba(209, 0, 73, 0.08);
    --color-example: #5100FF;
    --color-example-bg: rgba(81, 0, 255, 0.08);
    --color-quote: #808080;
    --color-quote-bg: rgba(128, 128, 128, 0.08);
}
