.markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 16px;
    color: inherit;
    border-left: 4px solid #888;
}

.markdown-alert > :first-child {
    margin-top: 0;
}

.markdown-alert > :last-child {
    margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 600;
    align-items: center;
    line-height: 1;
}

.markdown-alert .markdown-alert-title .octicon {
    margin-right: 0.5rem;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdown-alert.markdown-alert-note {
    border-left-color: var(--color-note);
    background-color: var(--color-note-bg);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-note);
}

.markdown-alert.markdown-alert-important {
    border-left-color: var(--color-important);
    background-color: var(--color-important-bg);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-important);
}

.markdown-alert.markdown-alert-warning {
    border-left-color: var(--color-warning);
    background-color: var(--color-warning-bg);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--color-warning);
}

.markdown-alert.markdown-alert-tip {
    border-left-color: var(--color-tip);
    background-color: var(--color-tip-bg);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-tip);
}

.markdown-alert.markdown-alert-caution {
    border-left-color: var(--color-caution);
    background-color: var(--color-caution-bg);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--color-caution);
}

.markdown-alert.markdown-alert-abstract {
    border-left-color: var(--color-abstract);
    background-color: var(--color-abstract-bg);
}

.markdown-alert.markdown-alert-abstract .markdown-alert-title {
    color: var(--color-abstract);
}

.markdown-alert.markdown-alert-info {
    border-left-color: var(--color-info);
    background-color: var(--color-info-bg);
}

.markdown-alert.markdown-alert-info .markdown-alert-title {
    color: var(--color-info);
}

.markdown-alert.markdown-alert-todo {
    border-left-color: var(--color-todo);
    background-color: var(--color-todo-bg);
}

.markdown-alert.markdown-alert-todo .markdown-alert-title {
    color: var(--color-todo);
}

.markdown-alert.markdown-alert-success {
    border-left-color: var(--color-success);
    background-color: var(--color-success-bg);
}

.markdown-alert.markdown-alert-success .markdown-alert-title {
    color: var(--color-success);
}

.markdown-alert.markdown-alert-question {
    border-left-color: var(--color-question);
    background-color: var(--color-question-bg);
}

.markdown-alert.markdown-alert-question .markdown-alert-title {
    color: var(--color-question);
}

.markdown-alert.markdown-alert-failure {
    border-left-color: var(--color-failure);
    background-color: var(--color-failure-bg);
}

.markdown-alert.markdown-alert-failure .markdown-alert-title {
    color: var(--color-failure);
}

.markdown-alert.markdown-alert-danger {
    border-left-color: var(--color-danger);
    background-color: var(--color-danger-bg);
}

.markdown-alert.markdown-alert-danger .markdown-alert-title {
    color: var(--color-danger);
}

.markdown-alert.markdown-alert-bug {
    border-left-color: var(--color-bug);
    background-color: var(--color-bug-bg);
}

.markdown-alert.markdown-alert-bug .markdown-alert-title {
    color: var(--color-bug);
}

.markdown-alert.markdown-alert-example {
    border-left-color: var(--color-example);
    background-color: var(--color-example-bg);
}

.markdown-alert.markdown-alert-example .markdown-alert-title {
    color: var(--color-example);
}

.markdown-alert.markdown-alert-quote {
    border-left-color: var(--color-quote);
    background-color: var(--color-quote-bg);
}

.markdown-alert.markdown-alert-quote .markdown-alert-title {
    color: var(--color-quote);
}

